body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    background: url('../img/fundo-ps-2015-2.jpg') repeat;
}

a {
    color: #337ab7;
}

a:hover {
    text-decoration: underline;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 4px;
    padding-right: 4px;
}

.row {
    margin-left: -4px;
    margin-right: -4px;
}

.btn {
    border-radius: 0;
}

.nav-pills > li > a {
    color: #337ab7;
}

.center-text {
    text-align: center;
}


/* Cabeçalho */

header {
    background-color: #fff;
    padding-top: 8px;
}

#header-separator {
    background-color: #ccc;
    border: none;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}


/* Menu Principal */

.container.menu {
    background-color: #fff;
}

@media (min-width: 767px) {
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-ingresso .navbar-nav > li {
        margin-right: 8px;
    }
}
.navbar-ingresso {
    background-color: #fff;
    border: none;
    border-radius: 0;
    padding-bottom: 8px;
    margin-bottom: 0;
}
.navbar-ingresso .navbar-brand {
  color: #777;
}
.navbar-ingresso .navbar-brand:hover,
.navbar-ingresso .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-ingresso .navbar-text {
  color: #777;
}
.navbar-ingresso .navbar-nav > li > a {
    background-color: #f7981d;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

.navbar-ingresso .navbar-nav > li > a:hover,
.navbar-ingresso .navbar-nav > li > a:focus {
    background-color: #f37920;
}
.navbar-ingresso .navbar-nav > .active > a,
.navbar-ingresso .navbar-nav > .active > a:hover,
.navbar-ingresso .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #f37920;
}
.navbar-ingresso .navbar-nav > .dropdown.active > a {
    background-color: #f7981d;
}
.navbar-ingresso .navbar-nav > .dropdown.active > a:hover {
    background-color: #f37920;
}
.navbar-ingresso .navbar-nav > .disabled > a,
.navbar-ingresso .navbar-nav > .disabled > a:hover,
.navbar-ingresso .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-ingresso .navbar-toggle {
  border-color: #ddd;
}
.navbar-ingresso .navbar-toggle:hover,
.navbar-ingresso .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-ingresso .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-ingresso .navbar-collapse,
.navbar-ingresso .navbar-form {
  border-color: #e7e7e7;
}
.navbar-ingresso .navbar-nav > .open > a,
.navbar-ingresso .navbar-nav > .open > a:hover,
.navbar-ingresso .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #f37920;
}
@media (max-width: 767px) {
  .navbar-ingresso .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-ingresso .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ingresso .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-ingresso .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ingresso .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ingresso .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-ingresso .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-ingresso .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-ingresso .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-ingresso .navbar-link {
  color: #777;
}
.navbar-ingresso .navbar-link:hover {
  color: #333;
}
.navbar-ingresso .btn-link {
  color: #777;
}
.navbar-ingresso .btn-link:hover,
.navbar-ingresso .btn-link:focus {
  color: #333;
}
.navbar-ingresso .btn-link[disabled]:hover,
fieldset[disabled] .navbar-ingresso .btn-link:hover,
.navbar-ingresso .btn-link[disabled]:focus,
fieldset[disabled] .navbar-ingresso .btn-link:focus {
  color: #ccc;
}

/* Menu Collapse no tamanho SM */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


/* Breadcrumb */

#breadcrumb {
    background-color: #fff;
}

.breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
}

.breadcrumb a {
    color: #666;
}


/* Página Inicial */

#home-banners {
    height: 180px;
    margin-bottom: 8px;
}

#home-banners .carousel-indicators {
    visibility: hidden;
    display: none;
}

.simple-image {
    text-align: center;
}

.widget.banner {
    height: 180px;
    overflow: hidden;
}

.carousel-inner {
    /*height: 180px;*/
}

/* Carousel Fade */
.carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
            transition-property: opacity;
}

.carousel-inner .active {
    opacity: 1;
}

.carousel-inner .active.left,
.carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-inner .next.left,
.carousel-inner .prev.right {
    opacity: 1;
}

.carousel-control {
    z-index: 2;
}

.home-aviso {
    background-color: #fafafa;
    padding: 8px;
    margin-bottom: 8px;
}

.aviso-data {
    background-color: #999;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    height: 150px;
    line-height: 1.1;
}

.aviso-data > .dia {
    font-size: 1.6em;
}

.aviso-data.destaque {
    background-color: #72be44;
    font-size: 1.8em;
}

.aviso-data.destaque > .dia {
    font-size: 2em;
}

.aviso-titulo > h2 {
    color: #666;
    margin-top: 10px;
    font-size: 22px;
}

.aviso-titulo > h2 > a {
    color: #666;
}

.aviso-titulo > h2 > a:hover {
    text-decoration: underline;
}

.aviso-categorias {
    list-style: none;
    text-align: right;
    position: absolute;
    top: 110px;
    right: 0;
    padding: 5px;
    font-size: 12px;
    margin: 0;
}

.aviso-categorias > li {
    display: inline;
    margin-bottom: 8px;
}

.aviso-categorias > li > .label {
    margin-bottom: 8px;
}

.aviso-categorias > li > a {
    margin-left: 8px;
    padding: 3px 8px;
    color: #fff;
    margin-bottom: 8px;
}

.alm-btn-wrap {
    clear: both;
}

.alm-btn-wrap .done {
    opacity: 0.65;
    cursor: not-allowed;
}

.label-faq {
    background-color: #607d8b;
}

.label-avisos {
    background-color: #607d8b;
}

.label-inscricoes {
    background-color: #009688;
}

.label-resultados {
    background-color: #aa00ff;
}

.label-prova {
    background-color: #ff9800;
}

.label-documentos {
    background-color: #ff5722;
}

.label-cursos {
    background-color: #03a9f4;
}

.label-assistencia {
    background-color: #ff4081;
}

.label-enem {
    background-color: #795548;
}

.label-sisu {
    background-color: #01579b;
}

.label-matricula {
    background-color: #1b5e20;
}


/* Conteúdo */

#content {
    background-color: #fff;
    padding-bottom: 8px;
    padding-top: 8px;
}

.thumbnail {
    box-shadow: none;
    border-radius: 0;
    background-color: #e6e9ed;
}

/* Post/Page */

.post {
    background-color: #fafafa;
    padding: 8px 32px;
}

.post-title,
.title {
    color: #007a9f;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-thumb {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

.post-meta {
    margin-top: 32px;
}

.post-date {
    font-size: 12px;
    font-style: italic;
}

.post-categories {
    list-style: none;
    text-align: right;
}

.post-categories li {
    display: inline;
    margin-left: 4px;
    margin-bottom: 4px;
}

.panel-group .panel-title a {
    display: inline-block;
}


/* Rodapé */

#site-map {
    background-color: #a6ce3a;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 32px;
}

#site-map a {
    color: #fff;
}

#footer-menu {
    list-style: none;
    padding: 0 0 0 32px;
}

#footer-menu > .menu-item {
    display: block;
    float: left;
    margin-right: 64px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 1.2em;
}

#footer-menu .sub-menu {
    list-style: none;
    padding: 0 0 0 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer-menu .sub-menu > .menu-item {
    font-size: 0.9em;
    text-transform: none;
}

footer {
    background-color: #72be44;
    color: #fff;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

footer .search-form {
    margin-bottom: 10px;
}

footer .social-link {
    margin-right: 5px;
}

#footer-logo > img {
    margin-bottom: 8px;
}

#footer-address {
    text-align: center;
}

#footer-address p {
    margin-bottom: 3px;
}

#footer-bottom {
    background-color: #fff;
}

#footer-src {
    padding-top: 10px;
    text-align: center;
    font-size: 0.9em;
}

#footer-src a {
    color: #000;
}
